 <body>
 <div class="fcmargin fcmargin1 pmmargin">
    <div id="img_meta_data">Please upload a File
        <input type="file" id="inputFile" accept="image/*" capture="camera">
        <!-- <input type="text" id="ec" value="look" > -->
        <div>&nbsp;</div>
    </div>
    <div class="btmargin">
        <a href="/" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Upload another</a>
        <a href="/" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Back 
        </a>
        
    </div>
    </div> 

<!-- JavaScript libraries -->
		
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<script src="//cdn.jsdelivr.net/pouchdb/latest/pouchdb.min.js"></script>
        <script src="js/info.js"></script>
        


</body>